In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1785,tt0368794,20000000,4001121,I'm Not There.,Cate Blanchett|Heath Ledger|Julianne Moore|Ben...,Todd Haynes,All I Can Do Is Be Me Whoever That Is,Six actors portray six personas of music legen...,135,Drama|Music,Endgame Entertainment|Rising Star|Killer Films...,10/1/2007,6.5,2007
1225,tt2312718,22000000,43058898,Homefront,Jason Statham|James Franco|Izabela Vidovic|Win...,Gary Fleder,How far would you go to protect your home?,Phil Broker is a former DEA agent who has gone...,100,Action|Thriller,Millennium Films|Open Road Films,11/27/2013,6.4,2013
984,tt1667889,95000000,877244782,Ice Age: Continental Drift,John Leguizamo|Ray Romano|Chris Wedge|Denis Le...,Steve Martino|Mike Thurmeier,"Manny, Diego, and Sid embark upon another adve...","Manny, Diego, and Sid embark upon another adve...",88,Animation|Comedy|Adventure|Family,Blue Sky Studios|Twentieth Century Fox Animation,6/26/2012,6.2,2012
1825,tt0212346,45000000,212000000,Miss Congeniality,Sandra Bullock|Benjamin Bratt|Michael Caine|Ca...,Donald Petrie,Never Mess With An Agent In A Dress.,Gracie Hart is a tough-as-nails FBI officer. W...,111,Comedy|Crime|Action,Village Roadshow Pictures|Castle Rock Entertai...,12/14/2000,6.1,2000
757,tt0409847,163000000,174822325,Cowboys & Aliens,Daniel Craig|Olivia Wilde|Harrison Ford|Sam Ro...,Jon Favreau,First Contact. Last Stand.,A stranger stumbles into the desert town of Ab...,119,Action|Science Fiction|Thriller|Western,Imagine Entertainment|DreamWorks SKG|Universal...,7/29/2011,5.4,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие предобработки 
# расчитываем значение прибыльности (profit = revenue - budget) и значение 
# помещаем в колонку 'profit'
data['profit'] = data['revenue'].values - data['budget'].values  

# расчитываем средний бюджет
mean_budget = data.budget.mean()

# обпределяем словарь месяцев с ключом - порядковым номером месяца
# добавляем колонку с наименованиями месяцев по их номеру
month_schedule =  {'1':'январь','2':'февраль','3':'март','4':'апрель',
'5':'май','6':'июнь','7':'июль','8':'август','9':'сентябрь','10':'октябрь',
'11':'ноябрь','12':'декабрь'}
data['month'] = list(data['release_date'].str.split('/',expand=True)[0])
data['month'] = data['month'].map(month_schedule)

# функция высчитывающая количество значений, которые могут быть разделенны 
# разделителем "|" в переданной колонке, переданного датафрейма по всему 
#датафрейму возвращает словарь "elements"
def function_sum(df,col1):
    elements = {}
    element = ''
    temp = df[col1]
    for line in temp:
        if line.find('|'):
            info = line.split('|')
        else:
            info = line
        for element in info:
            if element in elements:
                elements[element] += 1
            else:
                elements[element] = 1
    return elements

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data.budget==data.budget.max(),['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data.loc[data.runtime==data.runtime.max(),['original_title','imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# получаем минимальное значение по колнке runtime и выводим название фильма 
data.loc[data.runtime==data.runtime.min(),['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '4. 109.6586'

data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '5. 107'

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar (tt0499549)'

# по максимальному значению из колонки profit выводим наименование фильма
data.loc[data.profit==data.profit.max(),['original_title','imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

# по минимальному значению из колонки profit выводим наименование фильма
data.loc[data.profit==data.profit.min(),['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '8. 1478'

data[data.revenue>data.budget].count()['imdb_id']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = '9. The Dark Knight (tt0468569)'

#сначала отбираем в временный датафрейм все фильмы 2008 года, за тем вычисляем самый кассовый
temp_data = data.loc[data.release_year==2008,
['original_title','imdb_id','profit']]
temp_data = temp_data.loc[temp_data.profit==temp_data.profit.max(),
['original_title','imdb_id']]
display(temp_data)

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

#сначала отбираем в временный датафрейм все фильмы за период 2012 - 2014 года, за тем вычисляем самый убыточный
temp_data = data.loc[(data.release_year>=2012) &
(data.release_year<=2014),['original_title','imdb_id','profit']]
temp_data = temp_data.loc[temp_data.profit==temp_data.profit.min(),
['original_title','imdb_id']]
display(temp_data)

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '11. Drama'

# первый вариант с вычислениями непосредственно в задаче, где в цикле получаем
# словарь с частотой жанров и выводим натиболее часто встречащийся
temp_genres1 = []
genres1 = {}
temp_genres1 = data['genres']

for line in temp_genres1:
    info = line.split('|')
    for genre in info:
        if genre in genres1:
            genres1[genre] += 1
        else:
            genres1[genre] = 1
            
print(list(genres1.keys())[list(genres1.values())
.index(max(genres1.values()))])

Drama

ВАРИАНТ 2

In [19]:
genres_sum = {}

# второй вариант с использованием функции для вычисления частот встречаемости
# жанров
temp_genres2 = data
genres_sum = function_sum(temp_genres2,'genres')
print(list(genres_sum.keys())[list(genres_sum.values())
.index(max(genres_sum.values()))])

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = '12.  Drama'

# на первом этапе в промежуточном датафрейме собираем данные 
# о фильмах с положительным доходом, на втором в функции вычисляем 
# наиболее часто встречающийся в этом датафрейме жанр
data_profit = data[data['profit']>0]
genres_profit = function_sum(data_profit,'genres')            
print(list(genres_profit.keys())[list(genres_profit.values())
.index(max(genres_profit.values()))])

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
answers['13'] = '13. Peter Jackson'

# в промежуточный датафрейм отбираем имена режисеров и суммы 
# кассовых сборов, упорядоченные по убыванию и берём наиболешее значение
director_df = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(director_df.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = '14. Robert Rodriguez'

# на первом этапе в промежуточном датафрейме собираем данные 
# о фильмах с в жанре "Action", на втором в функции вычисляем 
# наиболее часто встречающегося в этом датафрейме режисера
temp_directors = data[data['genres'].str.contains(r'Action',
case=True,na=False)]
directors = function_sum(temp_directors,'director')
            
print(list(directors.keys())[list(directors.values())
.index(max(directors.values()))])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = '15. Chris Hemsworth'

# на первом этапе в промежуточном датафрейме собираем данные 
# о фильмах, вышедших в 2012 году, на втором в цикле вычисляем 
# суммарный доход фильмов по каждому актеру и выводим актера с 
# фильмы с которым в сумме оказались наиболее доходными
data_release_year = data[data['release_year']==2012]
cast_data = data_release_year[data_release_year.columns[2:5:2]]
actors = {}

for index,line in cast_data.iterrows():
    temp_actors = line['cast'].split('|')
    for actor in temp_actors:
        if actor in actors:
            actors[actor] += line['revenue']
        else:
            actors[actor] = line['revenue']
            
print(list(actors.keys())[list(actors.values())
.index(max(actors.values()))])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = '16. Matt Damon'

# на первом этапе в промежуточном датафрейме собираем данные 
# о фильмах с бюджетом выше среднего, на втором в функции вычисляем 
# наиболее часто встречающегося в этом датафрейме актера
data_high_budget = data[data['budget'] > mean_budget]

actors_high_budget = function_sum(data_high_budget,'cast')
            
print(list(actors_high_budget.keys())[list(actors_high_budget.values())
.index(max(actors_high_budget.values()))])

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = '17. Action'

# на первом этапе в промежуточном датафрейме собираем данные 
# о фильмах с где снимался Nicolas Cage, на втором в функции вычисляем 
# наиболее часто встречающегося в этом датафрейме жанр
temp_NCage = data[data['cast'].str.contains(r'Nicolas Cage',
case=True,na=False)]

genres_NC = function_sum(temp_NCage,'genres')
print(list(genres_NC.keys())[list(genres_NC.values())
.index(max(genres_NC.values()))])

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

# на первом этапе в промежуточном датафрейме собираем данные 
# о фильмах снятых Paramount Pictures, на втором в функции 
# вычисляем наиболее убыточный фильм
data_lesion = data[data['production_companies']
.str.contains(r'Paramount Pictures',case=True,na=False)]
data_lesion.loc[data_lesion.profit == data_lesion.profit.min(),
['original_title','imdb_id','profit']]

           original_title    imdb_id    profit
925  K-19: The Widowmaker  tt0267626 -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = '19. 2015'

# на первом этапе в промежуточном датафрейме группируем данные 
# о фильмах и сборах по годам, на втором в функции вычисляем 
# год с наимбольшими сборами
data_year = data.groupby(['release_year'])['revenue'].sum()
data_year = data_year.loc[(data_year==data_year.max())]
display(data_year)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] = '20. 2014'

# на первом этапе в промежуточном датафрейме собираем данные 
# о фильмах снятых Warner Bros, на втором группируем год и сумму сборов
# на третьем получаем наиболее прибыльный год
data_wb = data[data['production_companies'].str.contains(r'Warner Bros',
case=True,na=False)]
data_wb = data_wb.groupby(['release_year'])['revenue'].sum()
data_wb = data_wb.loc[(data_wb==data_wb.max())]
display(data_wb)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = '21. сентябрь'

# в функции вычисляем месяц с наимбольшим количеством
# релизов, выводим месяц с наибольшим значением
months = function_sum(data,'month')            
print(list(months.keys())[list(months.values())
.index(max(months.values()))])

сентябрь

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = '22. 450'

# в цикле вычисляем по перечню месяцев (июнь, июль, август) число
# релизов, выводим количество
summer_sum = 0

for month in months.items():
    if month[0]=='июнь' or month[0]=='июль' or month[0]=='август':
        summer_sum += month[1]
print(summer_sum)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = '23. Peter Jackson'

# на первом этапе в промежуточном датафрейме группируем данные 
# о фильмах что вышли зимой, на втором в функции вычисляем 
# режисера с наимбольшими числом фильмов
temp_whinter = data[data['month'].str.contains(r'декабрь|январь|февраль',
case=True,na=False)]

whinter_directors = function_sum(temp_whinter,'director')
print(list(whinter_directors.keys())[list(whinter_directors.values())
.index(max(whinter_directors.values()))])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = '24. Four By Two Productions'

# в цикле в словарь писков отбираем компании и длины названий их фильмов
# на втором вычисляем средние длины названий и помещаем в словарь
# выводим название компании с наибольшей средней длиной названия фильмов
companies = {}
result  = {}

for index,line in data.iterrows():
    temp_company = line['production_companies'].split('|')
    for company in temp_company:
        name_len = len(line['original_title'])
        companies.setdefault(company, []).append(name_len)        
result = {key:sum(value)/len(value) for key,value in companies.items()}            
print(list(result.keys())[list(result.values()).index(max(result.values()))])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] = '25. Midnight Picture Show'

# в цикле в словарь писков отбираем компании и длины названий описаний
# их фильмов, на втором вычисляем средние длины описаний и помещаем в словарь
# выводим название компании с наибольшей средней длиной описания фильмов
companies = {}
result  = {}

for index,line in data.iterrows():
    temp_overview = line['production_companies'].split('|')
    for company in temp_overview:
        overview_len = len(line['overview'])
        companies.setdefault(company, []).append(overview_len)        
result = {key:sum(value)/len(value) for key,value in companies.items()}            
print(list(result.keys())[list(result.values()).index(max(result.values()))])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] = '26. The Dark Knight,Inside Out,Room,Interstellar,The Imitation Game,Guardians of the Galaxy,Gone Girl,The Grand Budapest Hotel,Inception,The Pianist,The Lord of the Rings: The Return of the King,The Wolf of Wall Street,12 Years a Slave,Memento'

# на первом этапе вычисляем процент для оценок и помещаем в словарь, 
# сортируем. На втором в список отбираем фильмы, вошедшие в первый
# процент наибольших оценок. На третьем выводим перечень фильмов.
percent = {}
percent_vote = []
percent_sum = 0
percent_df = data.groupby('vote_average').size() / len(data) * 100
percent = percent_df.to_dict()
percent = dict(sorted(percent.items(), reverse=True))

for index, cent_sum in percent.items():
    percent_sum = percent_sum+cent_sum    
    if percent_sum<1:
        percent_vote.append(list(data[data['vote_average'] == index]
        ['original_title']))

for val in percent_vote:
    for vval in val:
        print(vval+',')

The Dark Knight,
Inside Out,
Room,
Interstellar,
The Imitation Game,
Guardians of the Galaxy,
Gone Girl,
The Grand Budapest Hotel,
Inception,
The Pianist,
The Lord of the Rings: The Return of the King,
The Wolf of Wall Street,
12 Years a Slave,
Memento,

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint, Daniel Radcliffe & Emma Watson, Emma Watson & Rupert Grint'

# на первом этапе вычисляем на сколько часто актеры встречаются попарно 
# фильмах, на втором выводим наиболее часто встречающиеся пары
data_couple = Counter()
temp_num = 0
temp_actors = data['cast']

for line in temp_actors:
    info = line.split('|')
    info.sort()
    for couple in combinations(info,2):
        data_couple[couple] += 1

for value, num in data_couple.most_common():
    if num>=temp_num:
        print(value)
        temp_num = num

('Daniel Radcliffe', 'Emma Watson')
('Daniel Radcliffe', 'Rupert Grint')
('Emma Watson', 'Rupert Grint')

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 109.6586',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12.  Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. The Dark Knight,Inside Out,Room,Interstellar,The Imitation Game,Guardians of the Galaxy,Gone Girl,The Grand Budapest Hotel,Inception,The Pianist,The Lord of the Rings: The Return of the King,The Wolf of Wall Street,12 Years a Slave,Memento',
 '27': '27. Daniel Radcliffe & Rupert Grint, Daniel Radcliffe & Emma Watson, Emma Watson & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27